@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body {
    width: 100%;
    height: auto;
}





main section.section-login {
    width: 100%;
    height: 100vh;
    /* background: url(https://rvs-gradie-signup-page.vercel.app/Assets/Background.png);
    background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main section.section-login .section-main {
    width: 100%;
    height: 100%;
    display: flex;
}
.imagelogo {
  width:150px;
  height: auto
}

main section.section-login .section-main .section-login-1, main section.section-login .section-login-2 {
    width: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #695cd5;
}
main section.section-login .section-main .section-login-1 .section-login-1-main  {
  padding: 10px;
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
    /* padding-top: 50px; */
}
main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-title {
    font-size: 32px;
    color: #fff;
}
main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-text {

color: #ffffff94;

font-size: 18px;
}
main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img {

width: 100%;
}
main section.section-login .section-main .section-login-1 .section-login-1-main .section-login-1-img img {

width: 100%;

display: block;
}


main section.section-login .section-main .section-login-2 .section-login-2-main {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 50px; */
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-title {
    font-size: 32px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form {
    /* margin-top: 25px; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 {    
    display: flex;   
    flex-direction: column;
    /* row-gap: 8px; */
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 label, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 label, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 label {
    font-weight: 500;
    font-size: 15px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1 input, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2 input, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 input  {
    padding: 12px 15px;
    border: 1px solid #e9e6e6;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 {
    display: flex;
    column-gap: 7px;
    align-items: center;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    font-size: 14px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-4 p a, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p a {
    font-weight: bold;
    color: #695cd5;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn button {
    background: #695cd5;
    padding: 14px;
    width: 100%;
    color: #fff;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-5 p {
    text-align: center;
}





@media only screen and (max-width: 1200px) {

    /* login page */
    main section.section-login .section-login-1 .section-login-1-main, main section.section-login .section-login-2 .section-login-2-main {
        width: 85%;
    }
    main section.section-login .section-login-1 .section-login-1-main .section-login-1-title, main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 35px;
    }
    main section.section-login .section-main {
        width: 75%
    }

} 
.select-input {
  padding: 12px 15px;
    border: 1px solid #e9e6e6;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 100%;
}

@media only screen and (max-width: 900px) {

    /* login page */
    main section.section-login .section-main {
        padding: 35px 0px;
    }
    main section.section-login .section-login-1 .section-login-1-main, main section.section-login .section-login-2 .section-login-2-main {
        width: 90%;
    }
    main section.section-login .section-login-1 .section-login-1-main {
        height: 90%;
    }
    main section.section-login .section-login-1 .section-login-1-main .section-login-1-title, main section.section-login .section-login-1 .section-login-1-main .section-login-1-form {
        margin-top: 25px;
    }
    main section.section-login .section-main {
        flex-direction: column;
        width: 75%;
        padding: 50px 0px;
    }
    main section.section-login .section-main .section-login-1, main section.section-login .section-login-2 {
        width: 100%;
    }

    main section.section-login {
        height: unset;
    }
}

@media only screen and (max-width: 600px) {
    main section.section-login .section-main {
        width: 100%;
        padding: 0px;
    }
    main section.section-login .section-main .section-login-2 .section-login-2-main {
        padding: 35px 25px;
    }
} 

.error {
    color: red; 
    font-size: 12px;
    margin-top: 0px;
} 




/* 
sidebar  */



  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #ffff;
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close {
    width: 78px;
  }
  .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i {
    font-size: 30px;
    color: #77619e;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #77619e;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links {
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover {
    background: #f3f1f6;
  }
  .sidebar .sub-menu li:hover {
    background: none;
    color: #77619e;
  }
  .sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .icon-link {
    display: block;
  }
  .sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #77619e;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow {
    display: none;
  }
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #77619e;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: 0px;
    background: #fff;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  .sidebar .nav-links li .sub-menu a {
    color: #77619e;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f3f1f6;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details {
    background: none;
  }
  .sidebar.close .profile-details {
    width: 78px;
  }
  .sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
  }
  
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job {
    color: #77619e;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 5s ease;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job {
    display: none;
  }
  .sidebar .profile-details .job {
    font-size: 12px;
  }
  .home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text {
    color: #77619e;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
      display: none;
    }
    .sidebar {
      width: 78px;
    }
    .sidebar.close {
      width: 0;
    }
    .home-section {
      left: 78px;
      width: calc(100% - 78px);
      z-index: 100;
    }
    .sidebar.close ~ .home-section {
      width: 100%;
      left: 0;
    }
  }


  
  .fRhOkl {
    background-color: #695cd5;
  } 

  .jGeaPm .head-div {
    background-color: #695cd5;
  }

  .header-part {
    background-color: #8174e7;
    height: 75px;
    width: 100%;
  }
  .lhYbII {
    background-color: #fff !important;
  }